<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    blog/index.html
   글 사이에 구분을 그어주십시오
    <ul>
        {% for post in posts %}
            <li>{{ post.title }}</li>
            <li>{{ post.content }}</li>
            <li>{{ post.created_at }}</li>
            <li>{{ post.updated_at }}</li>
            <hr> 
        {% empty %}
            <li>작성된 게시글이 없습니다</li>
        {% endfor %}

        {% for post in posts2 %}
        <li>{{ post.title }}</li>
        <li>{{ post.content }}</li>
        <li>{{ post.created_at }}</li>
        <li>{{ post.updated_at }}</li>
    {% empty %}
        <li>작성된 게시글이 없습니다</li>
    {% endfor %}
    </ul>


    {% for p in posts %}
        # 날짜 포맷 지정
        {{ p.created_at | date:"Y/m/d" }}
        <p>
        # 소문자로 변경
        {{ p.title | upper }}
        <p>
        # 특정 글자수만큼만 출력 
        {{ p.content | truncatechars:6 }}
        <p>
        # 특정 단어수만큼만 출력
        {{ p.content | truncatewords:1 }}
        <p>
    {% endfor %} 
    
{# 1 라인짜리 템플릿 주석입니다 #}
 
{% comment %}  
  여러줄을 주석처리
  할 때는 이렇게 하시면 렌더링이 되지 않아요
{% endcomment %}

{% autoescape on %}     # autoescape 태그
    {{ content }}
{% endautoescape %}
 
{{ content|escape }}    # escape 필터

{{ content }} 

# 리스트 길이 반환: 
{{ my_list|length }}
<br>
# lower - 소문자 변환: 
{% with my_string="HELLO WORLD" %}
{{ my_string|lower }}  
{% endwith %}
<br>
# upper - 대문자 변환: 
{% with my_string="hello world" %}
{{ my_string|upper }}  
{% endwith %}
<br>
# default - `my_variable`이 비어 있거나 존재하지 않을 경우 기본값을 제공: 
{% with my_variable="" %}
{{ my_variable|default:"기본 값" }} 
{% endwith %}
<br>
# truncatechars - 특정 문자 개수를 넘으면 생략: 
{% with my_string="This is a long string" %}
{{ my_string|truncatechars:10 }} 
{% endwith %}
<br>
# linebreaksbr - 줄바꿈 이스케이프를 적용
{{ my_text }}
{{ my_text|linebreaksbr }}
<br>
# `my_list`라는 리스트의 요소를 문자열로 결합하려면, `join` 필터를 사용합니다.
{{ my_list|join:", " }} 

<br>
# safe - 문자열 `my_html`을 안전하다고 표시하여 자동 이스케이프를 방지:
{% with my_html="<strong>Bold Text</strong>" %}
{{ my_html|safe }} 
<br>
{% endwith %}
<br>
# yesno - boolean 값을 특정 문자열로 매핑 True,False,None:
{% with my_boolean=None %}
{{ my_boolean|yesno:"예,아니오,글쎄요" }}  
{% endwith %}
<br>
# 여러 필터를 함께 사용하기 위해 파이프(|)를 사용: 
{% with my_string="HELLO WORLD" %}
{{ my_string|lower|truncatechars:5 }}
{% endwith %}


{% comment %}
# 내장된 필터가 충분하지 않은 경우, 사용자 정의 템플릿 필터를 만들 수 있습니다.
# 사용자 정의 필터는 앱의 `templatetags` 디렉토리에 있는 파이썬 파일에 정의합니다.

# 예를 들어, `templatetags/custom_filters.py`에서 문자열을 반전시키는 필터를 정의해 봅시다:
from django import template

register = template.Library()

@register.filter(name='reverse_string')
def reverse_string(value):
    return value[::-1]

# 템플릿에서 사용자 정의 필터 파일을 로드하고 `reverse_string` 필터를 사용합니다:
{% load custom_filters %}

{% with my_string="Django" %}
{{ my_string|reverse_string }} 
{{ my_string|reverse_string2 }} 
{% endwith %} 
{% endcomment %}

</body>
</html>