<div style="top: 200px;" class="col sticky-top">
    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="검색어를 입력하세요" id="search-input">
                <span class="input-group-btn">
                        <button class="btn btn-dark" type="button" onclick="searchPost();">검색</button>
                    </span>
            </div>
        </div>
    </div>

</div>

<script>
function searchPost(){
let searchValue = document.getElementById('search-input').value.trim();
if (searchValue.length > 1){
    location.href="/blog/search/" + searchValue + "/"; // /blog/search/new/
}
else{
    alert('검색어('+ searchValue +')가 너무 짧습니다.');
}
};

document.getElementById('search-input').addEventListener('keyup', function(event){
if(event.key === 'Enter'){
    searchPost();
}
});
</script>